body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #fff;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

#header h2 {
    font-size: 16px;
    font-weight: normal;
}

#main-nav {
    background-color: #333;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#main-nav a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#main-nav a:hover {
    background-color: #444;
}

.content {
    background-color: #333;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    border: 1px solid #555;
}

button.xhr {
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.delete{
    background-color: red;
}

button.edit{
    background-color: rgb(173, 97, 5);
}
button.create {
    background-color: green;
    float: inline-end;
}


button.xhr:hover {
    background-color: #777;
}


.important{
    color: red;
    text-align: center;

}


.error{
  color: red;
}


  
  /* Formulaire store*/
  form.update ,
  form.store {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
  }
  form.update table,
  form.store table {
    width: 30%;
  }
  form.udate td,
  form.store td {
    padding: 10px 0;
  }
  form.update input[type="text"],
  form.update input[type="number"],
  form.update select,
  form.store input[type="text"],
  form.store input[type="number"],
  form.store select {
    width: 100%;
    padding: 8px;
    background-color: #f2f2f2;
    color: #333;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }
  form.update input[type="checkbox"],
  form.store input[type="checkbox"] {
    margin-top: 4px;
  }
  form.update input[type="submit"],
  form.store input[type="submit"] {
    padding: 8px 16px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  form.update input[type="submit"]:hover,
  form.store input[type="submit"]:hover {
    background-color: #777;
  }
  

  
  /* Masquer les lignes du tableau */
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  table th,
  table td {
    text-align: center;
    padding: 8px;
    border: none;
    background-color: transparent;
    color: #fff;
    white-space: nowrap;
  }
  
  

  
  